# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: 'beman-submodule check'
on:
  workflow_call:
jobs:
  check:
    name: Check beman submodules for consistency
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install beman-submodule
        run: pip install beman-submodule
      - name: beman submodule consistency check
        run: |
          (set -eo pipefail; while read line ; do echo $line | grep -qvF '+' ; done < <(beman-submodule status))
